# Projeto final

Bem vindo ao projeto final do curso/módulo de Pandas.
Neste projeto, você deve responder a um conjunto de perguntas feitas a dois conjuntos de dados:

1. [Obesity among adults by country, 1975-2016](https://www.kaggle.com/amanarora/obesity-among-adults-by-country-19752016/)
2. [GDP Per Person (1901-2011)](https://www.kaggle.com/divyansh22/gdp-per-person-19012011?select=GDP.csv)

Tais conjuntos de dados são públicos foram publicados no Kaggle. Mais instruções sobre cada um deles podem ser encontrados nos links acima. Você também os encontrará na pasta `Datasets`, dentro de nossas apostilas.

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

# Caminho absoluto até a pasta onde as subpastas estão localizadas
pastaArquivos = Path("/Users/matheuspassossilva/Library/CloudStorage/Dropbox/GitHub/analise-dados-pandas-sql/arquivos")

# Caminhos para os arquivos CSV - NÃO UTILIZADOS, OPTOU-SE POR ABRI-LOS DIRETAMENTE
# arquivoObesidade = pastaArquivos / "obesity_cleaned.csv"
# arquivoPIB = pastaArquivos / "gdp.csv"

dfObesidade = pd.read_csv(pastaArquivos / "obesity_cleaned.csv", index_col=0)
dfPIB = pd.read_csv(pastaArquivos / "gdp.csv")

In [2]:
dfObesidade.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24570 entries, 0 to 24569
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Country      24570 non-null  object
 1   Year         24570 non-null  int64
 2   Obesity (%)  24570 non-null  object
 3   Sex          24570 non-null  object
dtypes: int64(1), object(3)
memory usage: 959.8+ KB

In [3]:
dfObesidade.columns

Index(['Country', 'Year', 'Obesity (%)', 'Sex'], dtype='object')

In [4]:
dfObesidade

           Country  Year       Obesity (%)         Sex
0      Afghanistan  1975     0.5 [0.2-1.1]  Both sexes
1      Afghanistan  1975     0.2 [0.0-0.6]        Male
2      Afghanistan  1975     0.8 [0.2-2.0]      Female
3      Afghanistan  1976     0.5 [0.2-1.1]  Both sexes
4      Afghanistan  1976     0.2 [0.0-0.7]        Male
...            ...   ...               ...         ...
24565     Zimbabwe  2015     4.5 [2.4-7.6]        Male
24566     Zimbabwe  2015  24.8 [18.9-31.3]      Female
24567     Zimbabwe  2016  15.5 [12.0-19.2]  Both sexes
24568     Zimbabwe  2016     4.7 [2.5-8.0]        Male
24569     Zimbabwe  2016  25.3 [19.1-32.0]      Female

[24570 rows x 4 columns]

## Perguntas - Obesity among adults by country, 1975-2016

- Limpe os dados do DataFrame, criando uma coluna de nome 'Obesity' que conterá os valores de obesidade. Transforme em float as colunas que porventura foram importadas como string.

In [5]:
dfObesidade[["Country", "Sex"]] = dfObesidade[["Country", "Sex"]].apply(lambda x: x.astype("string"))

In [6]:
dfObesidade.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24570 entries, 0 to 24569
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Country      24570 non-null  string
 1   Year         24570 non-null  int64
 2   Obesity (%)  24570 non-null  object
 3   Sex          24570 non-null  string
dtypes: int64(1), object(1), string(2)
memory usage: 959.8+ KB

In [7]:
dfObesidade["Obesity"] = pd.to_numeric(dfObesidade["Obesity (%)"].str.split().str[0], errors="coerce")

In [8]:
dfObesidade.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24570 entries, 0 to 24569
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Country      24570 non-null  string
 1   Year         24570 non-null  int64
 2   Obesity (%)  24570 non-null  object
 3   Sex          24570 non-null  string
 4   Obesity      24066 non-null  float64
dtypes: float64(1), int64(1), object(1), string(2)
memory usage: 1.1+ MB

In [37]:
dfObesidade.head()

       Country  Year    Obesity (%)         Sex  Obesity
0  Afghanistan  1975  0.5 [0.2-1.1]  Both sexes      0.5
1  Afghanistan  1975  0.2 [0.0-0.6]        Male      0.2
2  Afghanistan  1975  0.8 [0.2-2.0]      Female      0.8
3  Afghanistan  1976  0.5 [0.2-1.1]  Both sexes      0.5
4  Afghanistan  1976  0.2 [0.0-0.7]        Male      0.2

- Qual o percentual médio de obesidade por sexo no mundo no ano de 2015?

In [22]:
df2015Homem = dfObesidade[dfObesidade["Year"] == 2015]

In [23]:
dfHomem = df2015[df2015["Sex"] == "Male"]
dfMulher = df2015[df2015["Sex"] == "Female"]

In [24]:
dfHomem["Obesity"].mean()

15.98062827225131

In [25]:
dfMulher["Obesity"].mean()

22.899476439790575

- Quais são os 5 países com a maior e a menor taxa de aumento nos índices de obesidade no período observado?

In [38]:
dfAnosPais = dfObesidade.groupby("Country")["Year"].agg([min, max])

/var/folders/nt/_j3hvbp55v900j_y7l4tsy0h0000gn/T/ipykernel_25204/1737460937.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  dfAnosPais = dfObesidade.groupby("Country")["Year"].agg([min, max])
/var/folders/nt/_j3hvbp55v900j_y7l4tsy0h0000gn/T/ipykernel_25204/1737460937.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  dfAnosPais = dfObesidade.groupby("Country")["Year"].agg([min, max])

In [39]:
dfAnosPais

                                     min   max
Country
Afghanistan                         1975  2016
Albania                             1975  2016
Algeria                             1975  2016
Andorra                             1975  2016
Angola                              1975  2016
...                                  ...   ...
Venezuela (Bolivarian Republic of)  1975  2016
Viet Nam                            1975  2016
Yemen                               1975  2016
Zambia                              1975  2016
Zimbabwe                            1975  2016

[195 rows x 2 columns]

In [40]:
dfAnosPais.to_csv(pastaArquivos / "dfAnosPais.csv")

- Quais os países com maiores e menores níveis percetuais de obesidade em 2015?

<StringArray>
[                       'Afghanistan',                            'Albania',
                            'Algeria',                            'Andorra',
                             'Angola',                'Antigua and Barbuda',
                          'Argentina',                            'Armenia',
                          'Australia',                            'Austria',
 ...
        'United Republic of Tanzania',           'United States of America',
                            'Uruguay',                         'Uzbekistan',
                            'Vanuatu', 'Venezuela (Bolivarian Republic of)',
                           'Viet Nam',                              'Yemen',
                             'Zambia',                           'Zimbabwe']
Length: 195, dtype: string

504

- Qual a diferença média percentual de obesidade entre sexos ao longo dos anos para o Brasil?

- Você conseguiria plotar um gráfico mostrando a evolução da obesidade para ambos sexos no mundo?

In [ ]:
df_both.plot()

## Perguntas - GDP Per Person (1901-2011)

In [ ]:
df_gdp = pd.read_csv("Datasets/GDP.csv", decimal=".")

- Limpe o conjunto de dados, convertendo strings em datas ou float, quando necessário.

- Você conseguiria informar o primeiro valor registrado de cada país?

- Informe as regiões com maiores crescimentos de PIB per capita no século passado.

- Preecha os anos ausentes em cada país com uma estimativa, baseada na diferença entre o próximo registro e o anterior.

### DESAFIOS
- Você conseguiria criar um mapa do gdp ou da obesidade no mundo ao longo dos anos?

- Há uma relação entre níveis de obesidade e gdp per capita?