In [9]:
import pandas as pd
import numpy as np

In [1]:
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))

In [2]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [5]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [6]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [10]:
df = pd.DataFrame(np.random.randn(6,2), index=hier_index,columns=['A', 'B'])

In [11]:
df

             A         B
G1 1 -1.048817  0.097087
   2  0.540086  0.075520
   3 -0.413232  1.555383
G2 1  0.263981  0.828408
   2  0.223419  1.435719
   3  2.693411 -0.043715

In [12]:
df.loc["G1"]

          A         B
1 -1.048817  0.097087
2  0.540086  0.075520
3 -0.413232  1.555383

In [13]:
df.loc["G1"].loc[1]

A   -1.048817
B    0.097087
Name: 1, dtype: float64

In [14]:
df.index.names = ["Grupo", "Número"]

In [15]:
df

                     A         B
Grupo Número
G1    1      -1.048817  0.097087
      2       0.540086  0.075520
      3      -0.413232  1.555383
G2    1       0.263981  0.828408
      2       0.223419  1.435719
      3       2.693411 -0.043715

In [16]:
df.xs("G1")

               A         B
Número
1      -1.048817  0.097087
2       0.540086  0.075520
3      -0.413232  1.555383

In [17]:
df.xs(1, level = "Número")

              A         B
Grupo
G1    -1.048817  0.097087
G2     0.263981  0.828408

In [18]:
df.xs(2, level = "Número")

              A         B
Grupo
G1     0.540086  0.075520
G2     0.223419  1.435719