In [3]:
import pandas as pd
from pathlib import Path

In [4]:
caminhoPasta = Path.cwd()

In [5]:

caminhoArquivo = caminhoPasta.parents[0] / "arquivos" / "btc.csv"

In [7]:
dfData = pd.read_csv(caminhoArquivo)

In [8]:
print(dfData.head())

         Date  Open  High  Low  Close  Volume
0  2010-07-18   0.0   0.1  0.1    0.1    80.0
1  2010-07-19   0.1   0.1  0.1    0.1   570.0
2  2010-07-20   0.1   0.1  0.1    0.1   260.0
3  2010-07-21   0.1   0.1  0.1    0.1   580.0
4  2010-07-22   0.1   0.1  0.1    0.1  2160.0

In [9]:
df = pd.DataFrame(dfData)

In [20]:
df

            Date     Open     High      Low    Close        Volume
0     2010-07-18      0.0      0.1      0.1      0.1  8.000000e+01
1     2010-07-19      0.1      0.1      0.1      0.1  5.700000e+02
2     2010-07-20      0.1      0.1      0.1      0.1  2.600000e+02
3     2010-07-21      0.1      0.1      0.1      0.1  5.800000e+02
4     2010-07-22      0.1      0.1      0.1      0.1  2.160000e+03
...          ...      ...      ...      ...      ...           ...
4989  2024-03-15  71387.9  72357.1  65630.7  69403.8  7.832045e+10
4990  2024-03-16  69392.5  70046.3  64801.4  65315.1  4.684220e+10
4991  2024-03-17  65316.3  68845.7  64545.3  68390.6  4.471686e+10
4992  2024-03-18  68371.3  68897.1  66594.2  67548.6  4.926158e+10
4993  2024-03-19  67556.1  68106.9  61536.2  61912.8  7.421584e+10

[4994 rows x 6 columns]

In [21]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [17]:
df["Open"]

0           0.0
1           0.1
2           0.1
3           0.1
4           0.1
         ...
4989    71387.9
4990    69392.5
4991    65316.3
4992    68371.3
4993    67556.1
Name: Open, Length: 4994, dtype: float64

In [18]:
df[["Open"]]

         Open
0         0.0
1         0.1
2         0.1
3         0.1
4         0.1
...       ...
4989  71387.9
4990  69392.5
4991  65316.3
4992  68371.3
4993  67556.1

[4994 rows x 1 columns]

In [19]:
df["Close"] - df["Open"]

0          0.1
1          0.0
2          0.0
3          0.0
4          0.0
         ...
4989   -1984.1
4990   -4077.4
4991    3074.3
4992    -822.7
4993   -5643.3
Length: 4994, dtype: float64

In [32]:
df.iloc[4993, 3]

61536.2

In [33]:
resultado_df = pd.DataFrame({
    'Valor': [df.iloc[4993, 3]],
    'Nome da Linha': [df.index[4993]],
    'Nome da Coluna': [df.columns[3]]
})

In [34]:
resultado_df

     Valor  Nome da Linha Nome da Coluna
0  61536.2           4993            Low