In [13]:
import pandas as pd
import numpy as np

In [14]:
df = pd.DataFrame({'A': [1,2,np.nan],
                   'B': [5,np.nan,np.nan],
                   'C': [1,2,3]}
                   )

In [15]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [16]:
df.dropna() # = df.dropna(axis=0) - remove a linha que contém valores NaN

     A    B  C
0  1.0  5.0  1

In [17]:
df.dropna(axis=1) # Remove a coluna que contém valores NaN

   C
0  1
1  2
2  3

In [18]:
df.dropna(axis=1, thresh=2) # Limite de números ausentes para descarte - no caso, se houver 2 ou mais valores NaN ele é removido

     A  C
0  1.0  1
1  2.0  2
2  NaN  3

In [19]:
df.fillna(0) # Preenche os valores NaN com o que for inserido como parâmetro

     A    B  C
0  1.0  5.0  1
1  2.0  0.0  2
2  0.0  0.0  3

In [20]:
df.fillna("Conteúdo")

          A         B  C
0       1.0       5.0  1
1       2.0  Conteúdo  2
2  Conteúdo  Conteúdo  3

In [21]:
df["A"].mean() # Calcula a média

1.5

In [22]:
df["A"].fillna(value=df["A"].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [23]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [24]:
df.ffill() # Preenche com o último valor encontrado - veja o original acima

     A    B  C
0  1.0  5.0  1
1  2.0  5.0  2
2  2.0  5.0  3

In [25]:
df.bfill() # Contrário do anterior - pega o valor posterior e preenche o NaN - mas neste exemplo não vai funcionar bem

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3