In [1]:
import pandas as pd
from numpy.random import randn

In [2]:
df = pd.DataFrame(randn(5, 4), index=["A", "B", "C", "D", "E"], columns="W X Y Z".split())

In [3]:
df

          W         X         Y         Z
A  0.625604 -0.279869 -0.156768 -1.535744
B -0.525710  0.789001  0.154014 -1.371399
C  1.664996  2.098159  0.733720  1.698755
D -0.118595 -0.570725  1.797342 -0.018063
E  0.553355  1.518183  0.328627 -0.245487

In [6]:
df.loc[["A", "B"], "W"]

A    0.625604
B   -0.525710
Name: W, dtype: float64

In [13]:
teste = df.loc[["A", "B"], "W"] # Cria uma Series

In [9]:
type(teste)

pandas.core.series.Series

In [12]:
df.loc[["A", "B"], ["W"]] # Cria um dataframe

          W
A  0.625604
B -0.525710

In [10]:
teste2 = df.loc[["A", "B"], ["W"]]

In [11]:
type(teste2)

pandas.core.frame.DataFrame

In [15]:
df.iloc[:-1, 1:4] # "Cortando" dataframes com base em seus índices

          X         Y         Z
A -0.279869 -0.156768 -1.535744
B  0.789001  0.154014 -1.371399
C  2.098159  0.733720  1.698755
D -0.570725  1.797342 -0.018063

In [16]:
df.iloc[1:4, 1:3]

          X         Y
B  0.789001  0.154014
C  2.098159  0.733720
D -0.570725  1.797342

In [17]:
df > 0 # Faz uma comparação com cada elemento do dataframe

       W      X      Y      Z
A   True  False  False  False
B  False   True   True  False
C   True   True   True   True
D  False  False   True  False
E   True   True   True  False

In [18]:
df[df > 0] # Filtragem de dados - cria um novo dataframe com valores apenas maiores que zero

          W         X         Y         Z
A  0.625604       NaN       NaN       NaN
B       NaN  0.789001  0.154014       NaN
C  1.664996  2.098159  0.733720  1.698755
D       NaN       NaN  1.797342       NaN
E  0.553355  1.518183  0.328627       NaN

In [19]:
df

          W         X         Y         Z
A  0.625604 -0.279869 -0.156768 -1.535744
B -0.525710  0.789001  0.154014 -1.371399
C  1.664996  2.098159  0.733720  1.698755
D -0.118595 -0.570725  1.797342 -0.018063
E  0.553355  1.518183  0.328627 -0.245487

In [22]:
df["X"] > 0

A    False
B     True
C     True
D    False
E     True
Name: X, dtype: bool

In [24]:
df[df["X"] > 0] # Joga fora os índices nas quais esta relação não é válida - retorna o dataframe quando o X for maior que zero

          W         X         Y         Z
B -0.525710  0.789001  0.154014 -1.371399
C  1.664996  2.098159  0.733720  1.698755
E  0.553355  1.518183  0.328627 -0.245487

In [25]:
df[(df["X"] > 0) & (df["W"] > 0)]

          W         X         Y         Z
C  1.664996  2.098159  0.733720  1.698755
E  0.553355  1.518183  0.328627 -0.245487