In [4]:
import pandas as pd
from numpy.random import randn

In [5]:
dataframe = pd.DataFrame(randn(5,4))

In [7]:
dataframe

          0         1         2         3
0 -1.691455  1.313742  0.263820 -0.315012
1  0.668471 -0.689192 -1.440146 -2.294853
2 -0.173361 -0.161410  0.723825 -2.797232
3  0.909861 -0.453020 -0.986294  0.171570
4 -0.449083 -0.804968 -2.591141  0.942897

In [8]:
dataframe = pd.DataFrame(randn(5,4), index=["A", "B", "C", "D", "E"], columns = [1, 2, 3, 4])

In [9]:
dataframe

          1         2         3         4
A -0.810183  0.177339  1.328361  0.409425
B  0.402987  0.755142  0.595637  0.846817
C  1.268576 -1.149704 -0.543509  0.500462
D -1.196992 -0.737472 -1.330316  0.251407
E -0.348833  0.379618  0.855165  2.544000